@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    text-transform: uppercase;

}

a{
  color: var(--text-color);
}

/* Preloader Styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-hf-color);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.preloader-content .logo {
    margin-top: -8.0625rem;
    font-size: 4rem;
    color: var(--logo-color);
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

#dt{
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    bottom: 6.4375rem;
}

#dt span{
    color: var(--logo-color);
}
/* ----------Loading Animation css end ------- */
:root {
    --bg-color: #ededed;
    --second-bg-color: #ededed;
    --bg-hf-color: #ffffff;
    --text-color: #081b29;
    --main-color: #00abf0;
    --logo-color: #ff2f00;
    --back-shadow-for-sidebar: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.4); /* Corrected variable name */
}

.dark-mode {
    --bg-color: #081b29;
    --bg-hf-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    --logo-color: #ff2f00;
    --back-shadow-for-sidebar : 0.1875rem 0.1875rem 0.3125rem rgba(255, 255, 255, 0.4);
}

html {
    font-size: 100%;
    overflow-x: auto;
}

body {
  background: var(--bg-hf-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header2 {
  width: 100%;
  overflow: hidden;
}



#summary-text {
  white-space: nowrap;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
}
/*------------------------header-------------------------------- */
.header {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 4.6875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-hf-color);
    box-shadow: var(--back-shadow-for-sidebar);
    /* border: 1px solid red; */
    z-index: 999;
    transition: top 0.3s; /* Added transition for smooth animation */
}

/*------------------------ logo-------------------------------- */
.logo {
    font-size: 2.8125rem;
    font-weight: 600;
    color: var(--logo-color); 
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;


}

#logo-section {
    position: absolute;
    left: 3.125rem;
    top: 0;

}

/*------------------------ social meida design-------------------------------- */
.social-media {
    position: absolute;
    top: 2.8125rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.sm {
    background: var(--bg-color);
    border-radius: 50%;
    width: 1.35rem;
    height: 1.35rem;
    cursor: pointer;
    border: 0.0625rem solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm a {
    color: var(--text-color);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    font-size: .70em;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.sm a:hover {
    color: var(--logo-color);

}

.navbar{
    position: absolute;
    bottom: 1.25rem;
    right: 1.5625rem;
    /* border: 1px solid red; */
}

.navbar a {
    color: var(--text-color);
    font-size: 0.9375rem;
    margin-left: 1.1875rem;
    text-transform: uppercase;
}

.navbar a {
    color: var(--text-color);
    transition: .5s ease-in-out;
    font-weight: 450;
    /* border: 1px solid red; */
}

.navbar a:hover {
    color: var(--logo-color);
}

#mode ,#mode2{
    font-size: 2.1875rem;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0.75rem;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;

}

.menu-icon:hover {
    color: var(--logo-color);
}

    /*------------------------ Container design start------------------------------- */
    .container {
        width: 100%;
        background-color: var(--bg-color);
        display: flex;
        flex: 1;
        /* border: .5rem solid rgb(0, 255, 94); */
        font-family: 'Irish Grover', sans-serif;
        position: relative;
      }
      
      .left-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 5rem;
        border-right: 0.0625rem solid var(--second-bg-color);
        background-color: var(--bg-hf-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: transform 0.3s ease-in-out;
        height: 100%;
        /* border: 2px solid red; */
        padding-top: 5rem;
      }
      
      .left-sidebar.collapsed {
        transform: translateX(-100%);
        /* width: 0; */
      }
      
      .content {
        position: absolute;
        top: 0;
        left: 5rem;
        right: 0;
        height: 100%;
        /* border: .5rem solid blue; */
        overflow: auto;
      }
      
      .left-sidebar.collapsed + .content {
        left: 0;
      }
      .left-sidebar-icon {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: color 0.3s;
        user-select: none;
        height: 20%;
        transition: .3s ease;
        border-radius: .5rem;

    }

    .left-sidebar-icon:hover{
        background: var(--second-bg-color);
    }

    .left-sidebar-icon i {
        font-size: 1.5625rem;
        border-radius: 1.5625rem;
        padding: 0.375rem 1.1875rem;
        transition: background-color .3s ease , color .3s ease;
    }
    .left-sidebar-icon span{
        font-size: 0.625rem;
        font-weight: 600;
    }


     .stay {
        color: var(--logo-color);
        background: var(--second-bg-color);
    }

    .stay i{
        color: var(--logo-color);
        background: var(--second-bg-color);
    }

    .main-content{
        border:0;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
    } 

    .main-content::-webkit-scrollbar {
        width: .1rem;
      }
      
      .main-content::-webkit-scrollbar-thumb {
        /* background: var(--text-color); */
        border-radius: 12px;
      }
      

      .main-content {
        font-family: sans-serif;
        /* background: var(--bg-color); */
      }

 
    

    /*------------------------ Container design  end------------------------------- */

/*------------------------ side bar-------------------------------- */
/*------------------------ side bar-------------------------------- */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 16.875rem;
    z-index: 999;
    background-color: var(--bg-hf-color);
    box-shadow: var(--back-shadow-for-sidebar);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.box{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box a {
    color: var(--text-color);
    margin-top: 2.1875rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9375rem;
    transition: color .5s ease ;
    /* border: 1px solid red;   */
}

.box a:hover {
    color: var(--logo-color);
    
}

/* menu icon and close icon */
.open-icon{
    display: none;
    transition: .5s ease;
    cursor: pointer;
    position: absolute;
    top: -0.0625rem;
    right: 0;
    /* border: 1px solid red;   */
    /* height: 100%; */
}

.open-icon span{
    font-size: 1.875rem;
    font-weight: 600;
    /* border: 1px solid red;   */
}

.open-icon span:hover{
    color: var(--logo-color);
}

.close-icon{
    width: 100%;
    height: 7.3125rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    /* border: 1px solid red;   */
    position: relative;
}

.close-icon span{
    font-size: 2.1875rem;
    /* border: 1px solid red;   */
    margin-right: 1.1rem;
    position: absolute;
    top: 1.1rem;

    
}

.close-icon span:hover{
    color: var(--logo-color);
}

/* copyrights*/
.side-bar-copyrights{
    position: absolute;
    bottom: 0;
    padding-left: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10.5%;
    border-top: 0.075rem solid var(--text-color);
}

.side-bar-copyrights p{
    font-size: 0.75rem;
    font-weight: 600;
    /* border: 1px solid red; */

}

footer{
    position: relative;
    bottom: 0;
    background: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    height: 3.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.625rem 2.6%;
    background: var(--bg-hf-color);
    box-shadow: var(--back-shadow-for-sidebar);
    z-index: 999;

}

.col p{
    color: var(--text-color);
    font-size: 1rem;

}

.col p a{
    color: var(--text-color);
}

.socialIcons i{
    display: inline-block;
    color: var(--text-color);
    font-size: 1.3rem;
    margin-right: 1.5625rem;
    transition: 0.5s;

}

.socialIcons i:hover{
    color: var(--logo-color);
}

/* -----------------main header footer and sidebar design completed at line number 454 */

/* -----------------video page design starts-----------------------. */



      #back-arrow {
        position: absolute;
        top: 5rem;
        left: .5rem;
        color: var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color .5s ease;
        width: 2rem; /* Adjust the width and height as needed */
        height: 2rem; /* Adjust the width and height as needed */
        border-radius: 50%; /* Ensure it's a perfect circle */
        text-decoration: none;
      }

      #back-arrow:hover {
        background: var(--bg-hf-color);
        color: #ff2f00;
      }

      section {
        /* border: 1px solid  red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2.5%;
      }

      
  .title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
      
.addres{
    width: 100%;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: .5rem;
    padding: .5rem 1rem;


  }

  .addres p{
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
 
  }
  
  
  .addres p:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  



  .container2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;  
    /* overflow: visible; */

  }
  
  .container2 #video_player {
    height: 100%;
  }
  
  #video_player {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    background: var(--text-color);
    border-radius: .5rem;
  
  }
  
  #video_player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
  }

  
  
  .playlistBx {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    /* border: 1px solid red; */
  }
  
  
  
  .playlistBx .row {
    display: block;
    text-align: left;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    white-space: nowrap; 
    width: 450px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  
  .button-container {
    position: absolute;
    width: 100%;
    height: calc(100% - 18px);
    /* border: 1px solid red; */
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);


  
  }

/* ------------------------------------------------ */

.button-container::-webkit-scrollbar {
width: 5px;
}

.button-container::-webkit-scrollbar-thumb {
height: 80px;
background: var(--text-color);
border: 8px solid transparent;
border-radius: 12px;
}


details {
margin: 10px 10px;
border: 1px solid var(--text-color);
border-radius: 5px;
width: 95%;
/* border: 1px solid red; */
}

details summary {
padding: 10px 15px;
background: var(--bg-color);
color: var(--text-color);
cursor: pointer;
border-radius: 5px;
font-weight: 550;
text-transform: capitalize;
font-size: 1rem;

}




.playlistBx .button-container button {
width: 95%;
padding: 10px 15px;
margin: 10px 10px;
border: 0;
border-radius: 5px;
background: var(--bg-color);
color: var(--text-color);
cursor: pointer;
display: flex;
align-items: center;
font-size: 1rem;
border: 1px solid var(--text-color);
border-radius: 8px;
transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
touch-action: manipulation;
font-weight: 600;
user-select: none;
-webkit-user-select: none;
outline: none;
cursor: pointer;
text-transform: capitalize;

}

.playlistBx .button-container button:focus-visible{
box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
transition: box-shadow .2s;
}

.playlistBx .button-container button:active{
background-color: #F7F7F7;
border-color: var(--text-color);
transform: scale(.96);
}



.syllabus-container {
margin-top: 1.5rem;
border: 1px solid var(--text-color);
border-radius: 5px;
color: #fff;
padding: 1rem;
width: 100%;
height: 10rem;
overflow: auto;

}

.syllabus-container p {
border-bottom: 1px solid var(--text-color);
color: var(--text-color);

}

.syllabus-container .syllabus {
color: var(--text-color);
padding-top: .5rem;
text-transform: capitalize;

}





@media only screen and (max-width: 5000px) and (max-height: 650px){
    #video_player {
      position: relative;
      width: 100%;
      padding-bottom: 40.25%;
      height: 0;
      background: var(--text-color);
      border-radius: .5rem;
    
    }
    
    #video_player iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: .5rem;
    }
          
    .playlistBx .row {
      width: 400px; 
  
    }
    
    
  
  
  }
  
















  #extra-space{
    /* display: none; */
  }


/*--------------------------------------------------- Design for desktop version is over at line number 402 ---------------------------------------------------*/

/*---------------------------------------------------Design for Mobile version is over at line number 404 ---------------------------------------------------*/
/* ------------------Responsive Design for --------------*/
@media only screen and (max-width: 1045px) {

    #logo-section {
        position: absolute;
        left: 0.75rem;
        top: 0;
    }

    .menu-icon{
        display: none;
    }
    .navbar{
        display: none;
    }
    .open-icon{
        display: block;
        margin-right: 0.625rem;
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        /* border: 1px solid red;   */
        /* cursor: none; */

    }
    .open-icon span{
        cursor: none;
    }
    .close-icon span{
        cursor: none;
        
        
    }

    footer{
        display: none;
    }
    /* .content {
        position: absolute;
        top: 0;
        left: 5rem;
        right: 0;
        height: 100%;
        border: .2rem solid blue;
      } */

    .content{
        top: auto;
        left: 0rem;
        /* border: .5rem solid red; */
        height: 90%;

    }
    .left-sidebar.collapsed {
        transform: translateX(0);
      }


    .left-sidebar{
        position: absolute;
        top: auto;
        left: auto;
        bottom: 0rem;
        width: 100%;
        height: 10%;
        padding-top: 0;
        /* margin-bottom: 0; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-hf-color);
        border:0;
        box-shadow: var(--back-shodow-for-sidebar);
        border-top: 0.0625rem solid var(--second-bg-color);

    }

    .left-sidebar-icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: color 0.3s;
        height: 100%;
    
    }

    .left-sidebar-icon i {
        padding: .4rem 2.5rem;
        font-size: 2em;
    
    }
    

    .left-sidebar-icon:hover{
      background:none;
  }
 .stay {
      color: var(--logo-color);
      background:none;
  }


  
}




@media only screen and (max-width: 767px){
    *{
        cursor: none;
    }
    .content{
        top: auto;
        left: 0rem;
        /* border: .5rem solid red; */
        height: 92%;

    }
    .left-sidebar.collapsed {
        transform: translateX(0);
      }


    .left-sidebar{
      position: fixed;
        height: 8%;
        /* border: 1px solid red; */
        z-index: 99;

    }

    .left-sidebar-icon{
      cursor: none;
    }
    .left-sidebar-icon i {
        padding: 0.375rem 1.5625rem;
        font-size: 1.2rem;
    
    }
    .side-bar-copyrights{
        height: 8.9%;
    }





    
    

}


@media only screen and (max-width: 380px) and  (max-height: 670px){
    *{
        cursor: none;
    }
    .content{
        height: 90%;


    }
    .left-sidebar.collapsed {
        transform: translateX(0);
      }


    .left-sidebar{
        height: 10%;

    }
    .side-bar-copyrights{
        height: 11.6%;
    }
    


}

.content{
    /* border: .2rem solid red; */
}


/* -----------video page----------------- */


@media (max-width: 767px){


    .header {
        /* position: fixed; */
        top: 0;
        left: 0;
        width: 100%;
        transition: top 0.3s; /* Added transition for smooth animation */
    }

    #extra-space{
        display: block;
    }
  
    

    #back-arrow {
  cursor: none;
    }
          
    .playlistBx {
      position: relative;
      height: 100%;
      width: 100%;
      margin: 0;
    }

    .container2 {
        position: static;
        width: 100%;
        height: auto;
        display: block;
      }
      
      
      #video_player{
        position: static;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
        padding-bottom: 60.25%;
        height: 0;
        background: black;
        border-radius: .5rem;
        z-index: 1;
      
      }
      
      #video_player iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: .5rem;
      }

      
      .playlistBx {
        position: static;
        height: 400px;
        margin-top: 0px;
        /* border: 1px solid  rgb(51, 255, 0); */
      
      }

    
      
      .playlistBx .row {
        display: block;
        text-align: left;
        color: var(--text-color);
        font-size: .75rem;
        font-weight: 700;
        margin-left: 5px;
        line-height: 40px;
        width: 375px; 
        /* border: 1px solid  rgb(51, 255, 0); */
      }
      
      
      .button-container {
        position: static;
        width: 100%;
        /* height: calc(100% - 50px); */
        overflow-y: scroll;
        overflow-x: hidden;
        border-top: 2px solid var(--text-color);
        border-bottom: 2px solid var(--text-color);

      }

      

.playlistBx .button-container button {
  cursor: none;

}

.title{
    font-size: 1.5rem;
}

  .addres p{
    font-size: 1rem;
  }

  .addres p{
    font-size: .75rem;
  }
details summary {
font-size: .85rem;
cursor: none;

}
.playlistBx .button-container button{
font-size: .85rem;

}


.syllabus-container {
margin-top: 2rem;
padding: .75rem;

}
.syllabus-container .syllabus{
    font-size: .75rem;

  }

    
    
  }

  @media (max-width: 400px){
    #video_player{
        position: static;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
        padding-bottom: 60.25%;
        height: 0;
        background: black;
        border-radius: .5rem;
      
      }
      .title{
        font-size: 1.25rem;
    }
    
      .addres p{
        font-size: .75rem;
      }
    details summary {
    font-size: .75rem;
    
    }
    .playlistBx .button-container button{
    font-size: .75rem;
    
    }
    
    
    .syllabus-container {
    margin-top: 2rem;
    padding: .75rem;
    
    }
    .syllabus-container .syllabus{
      font-size: .75rem;

    }
    .playlistBx .row {
      width: 345px; 

    }


} 

@media (max-width: 300px){
    html{
        font-size: 90%;
    }
  
  } 
  
  